---
layout: default
---

<div class="summaries">
  {% for post in site.posts %}
  <article class="summary">
    <h2><a href="{{ post.url }}">Episode {{ post.episodeNumber }}: {{ post.title }}</a></h2>
    <p class="summary-content">
      {{ post.description }}
    </p>
    <a href="{{ post.url }}" class="btn btn-default">Listen to it</a>
    <div class="row summary-meta">
      <div class="col-md-4">
        Posted <span>{{ post.date | date: "%B %-d, %Y" }}</span>
      </div>
      <div class="col-md-8 text-right">
        <ul class="tags">
          {% for tag in post.tags %}
          <li>{{ tag }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
  {% endfor %}
</div>
