<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/assets/img/logo-header-white.png" alt="Listen Ship Repeat Logo" height="130px" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse navbar-height">
      <ul class="nav navbar-nav navbar-right">

        {% if page.url == '/' or page.layout == 'post' %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
          <a href="/">Episodes</a>
        </li>

        {% if page.url == '/about/' %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
          <a href="/about">About</a>
        </li>

        {% if page.url == '/archive/' %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
          <a href="/archive">Archive</a>
        </li>

        {% if page.url == '/contact/' %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
