/*global Color*/
a:hover,
.topTabs .speedBar a:hover,
.topGlobal .topMenuStyleFon ul li a:hover,
.topGlobal .topMenuStyleFon > ul > li.sfHover > a,
.topGlobal .topMenuStyleFon > ul > li > a.sf-with-ul:hover,
.topGlobal .topMenuStyleFon > ul > li ul a.sf-with-ul:after,
.infoPost a:hover, 
.tabsButton ul li a:hover,
.widgetBody  ul  li:before,
.poluparFiltr ul li a:hover,
.popularBlock article h3:before,
.widgetTabs .popularBlock article .popularInfo .date a:hover,
.sidebar .popularBlock article .popularInfo .date a:hover,
.sidebar .recentBlock article .popularInfo .date a:hover,
.main .widgetBody a:hover,
.main .widgetBody a:hover span,
.footerWrap .widgetBody > a:hover,
.footerWrap .widgetBody > a:hover span,
.footerWrap .footerWidget .widgetBody > ul > li > a:hover, 
.footerWrap .footerWidget .widgetBody > ul > li > a:hover span,
.footerBlackStyle.footerWrap .footerWidget .widgetBody > ul > li > a:hover,
.widgetBody a:hover span,
.roundButton:hover a,
.squareButton > a:hover,
.squareButtonlite.active > a,
.squareButtonlite.ui-state-active > a,
.cmsCalendar tbody td a,
.cmsCalendar tbody td.today a:hover,
.sc_priceItem .money,
.sc_priceItem .penny,
.sc_accordion.accordionStyle1 .sc_accordion_item .sc_accordion_title,
.sc_accordion.accordionStyle1 .sc_accordion_item .sc_accordion_title:before,
.sc_accordion.accordionStyle2 .sc_accordion_item.sc_active .sc_accordion_title,
.sc_accordion.accordionStyle2 .sc_accordion_item.sc_active .sc_accordion_title:before,
.sc_toggle.toggleStyle1 .sc_toggles_item .sc_toggles_title,
.sc_toggle.toggleStyle1 .sc_toggles_item .sc_toggles_title:before,
.sc_toggle.toggleStyle2 .sc_toggles_item.sc_active .sc_toggles_title,
.sc_toggle.toggleStyle2 .sc_toggles_item.sc_active .sc_toggles_title:before,
.toogleFAQ .sc_toggles_item.togleCount h3.current,
.sc_tabs .tabsHead li a:hover,
.blockquoteAuthor,
.postLink a,
.masonry article .masonryInfo a:hover,
.masonry article .masonryInfo span.infoTags a:hover,
.relatedWrap .relatedPostWrap article .relatedInfo a:hover,
.relatedWrap .relatedPostWrap article .relatedInfo span.infoTags a:hover,
.infoPost span.infoTags a:hover,
.page404 p a,
.page404 .searchAnimatiot.sFocus .seachButIco,
.peopleWrap .peopleItems .specialty,
.footerWidget .contactInfo .fContact:before,
.copyWrap .copy .copyright a,
.footerWhiteStyle .footerWidget .popularBlock article .popularInfo .date a:hover,
.footerBlackStyle .footerWidget .popularBlock article .popularInfo .date a:hover,
.comments .commBody li.commIten .replayWrap .posted a:hover,
.comments .commBody li.commIten h4 a:hover,
.reviewBlock .ratingItem span:before,
.reviewBlock .totalNamber,
.contentTimeLine .tlLoading:before,
.contentTimeLine .itemTL .tlDate .date_mount,
.contentTimeLine .itemTL .tlInfo .commNamber,
.footerWhiteStyle .footerWidget .popularBlock article h4:before,
.footerWhiteStyle.footerWrap .recentBlock article .popularInfo a:hover,
.topGlobal .topMenuStyleLine > ul > li ul li a:hover,
.sc_testimonials.style1 .sliderNav .rsArrowIcn:hover:before,
.cs_dropcaps.sc_dropcaps_style_3 .sc_dropcap,
.cs_dropcaps.sc_dropcaps_style_4 .sc_dropcap,
.cs_dropcaps.sc_dropcaps_style_5 .sc_dropcap,
.cs_dropcaps.sc_dropcaps_style_6 .sc_dropcap,
.sc_highlight.sc_highlight_style-2,
.sc_pricing_table .sc_prising_columns ul li .sc_icon:before,
.sc_tooltip_parent,
.sc_iconBubble .sc_bubble:before,
.sc_toggle.toggleStyle3 .sc_toggles_item.sc_active .sc_toggles_title,
.sc_testimonials.fullStyle2 .sliderNav .rsArrow:hover,
.sc_testimonials.fullStyle2 .sliderNav .rsArrow:active,
.sc_testimonials.fullStyle2 .sliderNav .rsArrow:hover .rsArrowIcn,
.sc_testimonials.fullStyle2 .sliderNav .rsArrow:active .rsArrowIcn:before,
.topGlobal .userMenu ul.dropUsMenu li.currency > a:hover,
.topGlobal .userMenu ul.dropUsMenu li.currency > a,
.topGlobal .userMenu ul.dropUsMenu li.currency.sfHover > a,
.topGlobal .userMenu ul.dropUsMenu li ul li a:hover,
.sweepMenuWrap .userMenu ul.dropUsMenu li.currency > a:hover,
.sweepMenuWrap .userMenu ul.dropUsMenu li.currency > a,
.sweepMenuWrap .userMenu ul.dropUsMenu li.currency.sfHover > a,
.sweepMenuWrap .userMenu ul.dropUsMenu li ul li a:hover,
.sc_blogger.style_date .sc_bloger-item .sc_bloger-date .date_mount,
.sc_blogger.style_date .sc_bloger-item .sc_bloger-info .commNamber,
.sc_blogger.style_accordion .sc_bloger-info .commNamber { color:#1172d3; }


.topWrap,
.sweepMenuWrap .menuTranform,
.vPlayer:active .videoPlay:after,
.mejs-controls .mejs-button button:active,
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.nan > ul > li > a:active,
.nan .pageLibrary > li.libPage > .pageFocusBlock.navPadding .rsArrow .rsArrowIcn:active,
.squareButton.active > a,
.squareButton.ui-state-active > a,
.roundButton > a:active,
.squareButton > a:active,
.squareButton.global > a,
.squareButton.dark > a:active,
.postSharing > ul > li.likeActive:active > a,
.sc_table.sc_table_style1 table thead tr th,
.sc_table.sc_table_style3 table thead tr th,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.masonry article .status,
.portfolio .isotopeElement .folioShowBlock:before,
.post .postStatus,
.peopleWrap .peopleItems .thumb:after,
.sc_skills_bar .skillsWrap .sc_skills_item .sc_skills_count,
.itemPageFull .itemDiscriptionWrap .backClose:active,
.itemPageFull .itemDiscriptionWrap .toggleButton:active,
.footerWrap .footerWidget .vPlayer:active .videoPlay:after,
.topGlobal .topMenuStyleLine > ul > li ul,
#scrollSweepMenu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:before,
.sweepMenuWrap .sweepMenuDefault,
.gridIconWrap.global,
.sc_testimonials.style1 .sliderNav .rsArrowIcn:active,
.sliderLogo .elastislide-wrapper nav span:active:before,
.sc_counter .sc_skills_item.SCstyle3 .sc_skills_count,
.sc_counter .sc_skills_item.SCstyle4 .sc_skills_count,
.sc_counter .sc_skills_item.SCstyle4 .SCtext,
.fullScreenSlider,
.fullScreenSlider.globalColor .sliderHomeBullets .rsContent:before,
.fullScreenSlider .sliderHomeBullets .rsContent.slide-3 .order p span,
.cs_dropcaps.sc_dropcaps_style_1 .sc_dropcap,
.cs_dropcaps.sc_dropcaps_style_2 .sc_dropcap,
.sc_highlight.sc_highlight_style-1,
.sc_pricing_table .sc_prising_columns .sc_pricing_title,
.sc_pricing_table .sc_prising_columns:hover ul li.sc_pricing_title,
.sc_tooltip_parent .sc_tooltip,
.sc_iconBubble .sc_bubble.sc_bubbleBackground:before,
.sc_toggle.toggleStyle3 .sc_toggles_item .sc_toggles_title,
.sc_testimonials.fullStyle2 .sliderNav,
.sc_testimonials.fullStyle2 .sliderNav .rsArrow,
.white-popup:before,
.user-popUp ul.loginHeadTab li.ui-tabs-active:before,
.sc_banner:before,
.widgetWrap .tagcloud a:hover,
.widgetWrap .tagcloud a:active { background-color:#1172d3; }

.fullScreenSlider .topWrap,
.fullScreenSlider .topGlobal .topMenuStyleLine > ul > li ul { background-color: rgba(17,114,211,0.7);}

.postSharing > ul > li > a:active,
.postSharing > ul > li > span:active
.mejs-controls .mejs-button button:active,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.nan > ul > li > a:active,
.nan .pageLibrary > li.libPage > .pageFocusBlock.navPadding .rsArrow .rsArrowIcn:active,
.squareButton.active > a,
.roundButton > a:active,
.squareButton > a:active,
.squareButton.ui-state-active > a,
.squareButton.global > a,
.squareButton.dark > a:active,
.cmsCalendar thead tr + tr th,
.sc_skills_bar .skillsWrap .sc_skills_item .sc_skills_count,
.itemPageFull .itemDiscriptionWrap .backClose:active,
.itemPageFull .itemDiscriptionWrap .toggleButton:active,
.footerWidget .vPlayer:active .videoPlay:after,
.topGlobal .topMenuStyleLine > ul > li ul,
.topGlobal .topMenuStyleFon > ul > li > a,
.sc_testimonials.style1 .sliderNav .rsArrowIcn:active,
.sliderLogo .elastislide-wrapper nav span:active:before,
.cs_dropcaps.sc_dropcaps_style_4 .sc_dropcap,
.cs_dropcaps.sc_dropcaps_style_5 .sc_dropcap,
.cs_dropcaps.sc_dropcaps_style_6 .sc_dropcap,
.sc_tooltip_parent .sc_tooltip:before,
.sc_toggle.toggleStyle3 .sc_toggles_item,
.sc_tooltip_parent,
pre.code ,
.widgetWrap .tagcloud a:hover,
.widgetWrap .tagcloud a:active { border-color:#1172d3 }


:focus{ outline:none;}
::selection { color: #fff; background-color:#1172d3;}
::-moz-selection { color: #fff; background-color:#1172d3;}
