/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{width:auto;	margin-right:30px;	overflow:hidden;}
.tlContentScroll .mCSB_container{ margin-right:40px; }
#scrollSweepMenu .mCSB_container{ margin-right:40px; }
.sweepMenuWrap .scrollInit { width: 290px; }

.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
}
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{
	margin-right:30px;
}
.mCustomScrollBox>.mCSB_scrollTools{ width:16px; height:100%; top:0; right:0;}
.tlContentScroll .mCustomScrollBox>.mCSB_scrollTools{ width:40px; height:100%; }
#scrollSweepMenu .mCustomScrollBox>.mCSB_scrollTools{ width:40px; height:100%; }


.mCSB_scrollTools .mCSB_draggerContainer{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0; 
	height:auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer{}
.mCSB_scrollTools .mCSB_draggerRail{ width:10px; height:100%; margin:0 0 0 auto; }
.tlContentScroll .mCSB_scrollTools .mCSB_draggerRail { width: 1px; margin: 0 auto;}

.mCSB_scrollTools .mCSB_dragger{
	cursor:pointer;
	width:100%;
	height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:10px;
	height:100%;
	margin:0 0 0 auto;
	text-align:center;
	-webkit-box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.33) inset, -5px 0px 5px 0px rgba(0,0,0,0.2) inset;
	   -moz-box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.33) inset, -5px 0px 5px 0px rgba(0,0,0,0.2) inset;
	        box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.33) inset, -5px 0px 5px 0px rgba(0,0,0,0.2) inset;}
.tlContentScroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ width: 1px; margin: 0 auto; 
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; 

	-webkit-transition: all 1s ease-out;
	   -moz-transition: all 1s ease-out;
	    -ms-transition: all 1s ease-out;
	     -o-transition: all 1s ease-out;
	        transition: all 1s ease-out;}
#scrollSweepMenu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ width: 2px; margin: 0;  z-index: 100;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; 

  -webkit-border-radius: 0; 
     -moz-border-radius: 0; 
          border-radius: 0;
}
#scrollSweepMenu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:before{display: block; content: ''; width: 2px; margin: 0 0 0 1px; height: 100%; 
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
	    -ms-transition: all 0.2s ease-out;
	     -o-transition: all 0.2s ease-out;
	        transition: all 0.2s ease-out;
}




.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
	display:none;
	position:relative;
	height:16px;
	overflow:hidden;
	cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonUp{ margin:-16px 0 0 0 ;}
.mCSB_scrollTools .mCSB_buttonDown{	top:100%;	margin:0;
}
/* horizontal scrollbar */
.mCSB_horizontal>.mCSB_container{
	height:auto;
	margin-right:0;
	margin-bottom:30px;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-bottom:0;
}
.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
	margin-right:0;
	margin-bottom:30px;
}
.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools{
	width:100%;
	height:16px;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	overflow:hidden;
}
.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer{
	margin:0 20px;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
	width:100%;
	height:2px;
	margin:7px 0;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger{
	width:30px;
	height:100%;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:100%;
	height:4px;
	margin:6px auto;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	display:block;
	position:relative;
	width:20px;
	height:100%;
	overflow:hidden;
	margin:0 auto;
	cursor:pointer;
	float:left;
}
.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
	margin-left:-40px;
	float:right;
}
.mCustomScrollBox{
	-ms-touch-action:none; /*MSPointer events - direct all pointer events to js*/
}

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox>.mCSB_scrollTools{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCustomScrollBox > .mCSB_scrollTools,
.mCustomScrollBox:hover > .mCSB_scrollTools{
	opacity:1;
	filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; /* old ie */
}
.tlContentScroll .mCustomScrollBox .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.tlContentScroll .mCustomScrollBox .mCSB_scrollTools:hover .mCSB_dragger .mCSB_dragger_bar{ width: 3px; }

#scrollSweepMenu .mCustomScrollBox .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
#scrollSweepMenu .mCustomScrollBox .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
}

#scrollSweepMenu .mCustomScrollBox .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
#scrollSweepMenu .mCustomScrollBox .mCSB_scrollTools:hover .mCSB_dragger .mCSB_dragger_bar{ width: 40px;  }

#scrollSweepMenu .mCustomScrollBox .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar:before,
#scrollSweepMenu .mCustomScrollBox .mCSB_scrollTools:hover .mCSB_dragger .mCSB_dragger_bar:before{ width: 4px;}

.mCSB_scrollTools .mCSB_draggerRail{
	background:#dddddd; /* rgba fallback */
	background:rgba(221,221,221,0.4);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; 
	-webkit-box-shadow: 1px 0px 0px 0px #dddddd inset;
	   -moz-box-shadow: 1px 0px 0px 0px #dddddd inset;
	        box-shadow: 1px 0px 0px 0px #dddddd inset;}

.tlContentScroll  .mCSB_scrollTools .mCSB_draggerRail{
	background: #ddd ; 
	filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; 
	-webkit-box-shadow: none ;
	-moz-box-shadow: none ;
	box-shadow: none ;
}
#scrollSweepMenu  .mCSB_scrollTools .mCSB_draggerRail{
	width: 100%;
	background: none ; 
	opacity: 0;
	filter:"alpha(opacity=0)"; -ms-filter:"alpha(opacity=0)"; 
	-webkit-box-shadow: none ;
	-moz-box-shadow: none ;
	box-shadow: none ;
	border-radius: 0;
}


.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{/*active*/}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
	opacity:0.4;
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp{}
.mCSB_scrollTools .mCSB_buttonDown{}
.mCSB_scrollTools .mCSB_buttonLeft{}
.mCSB_scrollTools .mCSB_buttonRight{}

.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
	opacity:0.75;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
	opacity:0.9;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}

